body{
  background-color: #a8e6ff;
}
h1{
  border: 1px solid black;
}
h2{
  color: purple;
}
input{
  border: 2px solid rgb(144,0,0)
}
div p{
  background: #fffca5;
}
#textblock{
  border: 5px solid gray;
  width: 800px;
  height: 100px;
}
#itemone{
  text-decoration: overline;
  color: purple;
}
.exit{
  background: blue;
  border: 4px dashed yellow;
}
/* a:link{
  color: red;
} */
/* a{
  color: red;
} */
a:visited{
  color: blue;
}
/* a:hover {
  color: purple;
}
a:active {
  color: yellow;
} */
